body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapView {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.map {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0;
}

.rightContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  
}

.detailCard {
  margin-top: auto;
  margin-bottom: auto;
}

.fireAnimation {
  width: 2rem;
  height: 2rem;
}

.loadingAnimation {
  display: flex;
  position: absolute;
  top: 35%;
  left: 35%;
  margin: 0 auto;
  width: 30vw;
  height: 30vh;
}

.slidingAnimation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  margin-bottom: 40vh;
  width: 8vh;
  height: 100vh;
}